.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

img {
  @apply select-none;
}

::selection {
  color: white;
  background: #031b4e;
}
